node_modules
project-template/.DS_Store
project-template/db/_mdb_catalog.wt
project-template/db/collection-0-8746647598419592450.wt
project-template/db/collection-2-8746647598419592450.wt
project-template/db/collection-4-8746647598419592450.wt
project-template/db/diagnostic.data/metrics.2019-04-07T18-30-57Z-00000
project-template/db/index-1-8746647598419592450.wt
project-template/db/index-3-8746647598419592450.wt
project-template/db/index-5-8746647598419592450.wt
project-template/db/index-6-8746647598419592450.wt
project-template/db/journal/WiredTigerLog.0000000001
project-template/db/journal/WiredTigerPreplog.0000000001
project-template/db/journal/WiredTigerPreplog.0000000002
project-template/db/mongod.lock
project-template/db/sizeStorer.wt
project-template/db/storage.bson
project-template/db/WiredTiger
project-template/db/WiredTiger.lock
project-template/db/WiredTiger.turtle
project-template/db/WiredTiger.wt
project-template/db/WiredTigerLAS.wt
.DS_Store
